$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "themes/sandstone/variables";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "themes/sandstone/bootswatch";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 30px;
}

@media (max-width: $screen-xs) {
  .classLabel{
    font-size: 14px;
    float: none !important;
    clear: both;
  }
  .pointLabel{
    font-size: 17px;
  }
}

@media (min-width: $screen-xs) {
  .classLabel {
    font-size: 24px;
  }
  .pointLabel {
    font-size: 27px;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.progress-bar{
  transition: all 0.6s ease;
}

.progress-bar-warning{
  background-color: #e4db14;
}
