  <div class="form-horizontal col-lg-6 col-xs-6">
    <div class="form-group">
      <label for="age" class="col-sm-6 control-label">Age</label>
      <div class="col-sm-6">
        <select class="form-control" id="age" ng-model="vm.input.age">
          <option ng-value="17">17-20</option>
          <option ng-value="21">21-25</option>
          <option ng-value="26">26-30</option>
          <option ng-value="31">31-35</option>
          <option ng-value="36">36-40</option>
          <option ng-value="41">41-45</option>
          <option ng-value="46">46-50</option>
          <option ng-value="51">51+</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="gender" class="col-sm-6 control-label">Gender</label>
      <div class="col-sm-6">
        <select class="form-control" id="gender" ng-model="vm.input.gender">
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="altitude" class="col-sm-6 control-label">High Alt.</label>
      <div class="col-sm-6">
        <select class="form-control" id="altitude" ng-model="vm.input.altitude">
          <option ng-value="true">Yes</option>
          <option ng-value="false">No</option>
        </select>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': vm.input.runTime && vm.input.rowTime }">
      <label for="runTime" class="col-sm-6 control-label">Run Time</label>
      <div class="col-sm-6">
        <input jqmask type="text" class="form-control" ng-model="vm.input.runTime" id="runTime">
        <span ng-show="vm.input.runTime && vm.input.rowTime" class="help-block">Please choose either run or row, not both</span>
      </div>


    </div>
    <div class="form-group" ng-class="{'has-error': vm.input.runTime && vm.input.rowTime }">
      <label for="rowTime" class="col-sm-6 control-label">Row Time</label>
      <div class="col-sm-6">
        <input jqmask type="text" class="form-control" ng-model="vm.input.rowTime" id="rowTime" >
        <span ng-show="vm.input.runTime && vm.input.rowTime" class="help-block">Please choose either run or row, not both</span>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': vm.input.pushups && vm.input.pullups }">
      <label for="pullups" class="col-sm-6 control-label">Pullups</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" id="pullups" placeholder="Pullups" ng-model="vm.input.pullups">
        <span ng-show="vm.input.pushups && vm.input.pullups" class="help-block">Please choose either pullups or pushups, not both</span>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': vm.input.pushups && vm.input.pullups }">
      <label for="pushups" class="col-sm-6 control-label">Pushups</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" id="pushups" placeholder="Pushups" ng-model="vm.input.pushups">
        <span ng-show="vm.input.pushups && vm.input.pullups" class="help-block">Please choose either pullups or pushups, not both</span>
      </div>
    </div>

    <div class="form-group">
      <label for="crunches" class="col-sm-6 control-label">Crunches</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" id="crunches" placeholder="Crunches" ng-model="vm.input.crunches">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-8 col-sm-offset-4">
        <button type="submit" class="btn btn-block btn-danger" style="font-size:larger" ng-click="vm.reset()"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Reset Scores</button>
      </div>
    </div>

  </div>

  <div class="col-lg-6 col-xs-6">
    <div class="well">
      <div class="pull-left pointLabel">
        Total: {{vm.pftCalculationResult.TotalPoints}}&nbsp;
      </div>

      <div class="classLabel pull-right" ng-show="vm.pftCalculationResult">
        <span class="label label-{{vm.pftCalculationResult.Class === 'Failed' ? 'danger' : 'success'}}">{{vm.pftCalculationResult.Class}}&nbsp;</span>
      </div>

      <div class="clearfix"></div>

      <h4>Run / Row Score</h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar"
             ng-class="vm.getCssClassForScore(vm.pftCalculationResult.RunRowCalculatedPoints)"
              ng-style="{width: vm.pftCalculationResult.RunRowCalculatedPoints + '%'}">
          <span class="">{{vm.pftCalculationResult.RunRowCalculatedPoints}}</span>
        </div>
      </div>

      <h4>Pullup / Pushup Score</h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar"
             ng-class="vm.getCssClassForScore(vm.pftCalculationResult.PushPullCalculatedPoints)"
             ng-style="{width: vm.pftCalculationResult.PushPullCalculatedPoints + '%'}">
          <span class="">{{vm.pftCalculationResult.PushPullCalculatedPoints}}</span>
        </div>
      </div>

      <h4>Crunches Score</h4>
      <div class="progress">
        <div class="progress-bar" role="progressbar"
             ng-class="vm.getCssClassForScore(vm.pftCalculationResult.CrunchPoints)"
             ng-style="{width: vm.pftCalculationResult.CrunchPoints + '%'}">
          <span class="">{{vm.pftCalculationResult.CrunchPoints}}</span>
        </div>
      </div>
    </div>
  </div>
